body {
  font-family: "Arial", sans-serif;
  background-color: #f5f7fa;
  color: #333;
}

.content-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
}

.tabs {
  top: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(0, 0, 0, 0.15);
  padding: 7px;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab:hover {
  background: #3498db;
  color: white;
}

.tab.active {
  background: #2980b9;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.tab-glider {
  position: absolute;
  height: 4px;
  width: calc(100% / 6);
  background-color: #2980b9;
  transition: transform 0.3s ease;
  bottom: 0;
  left: 0;
}

.section {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.slide-left {
  animation: slide-in-left 0.3s ease-in-out;
}

.slide-right {
  animation: slide-in-right 0.3s ease-in-out;
}

@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.question-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

.question {
  width: 50%;
}

.question-number {
  font-weight: bold;
}

.question-content {
  margin-left: 10px;
}

.radio-group {
  width: 50%;
  display: inline;
  align-items: end;
}

.radio-label {
  font-size: 1rem;
  cursor: pointer;
}

.radio-label input {
  margin-right: 8px;
}

.radio-text {
  white-space: nowrap;
}

.back-button {
  background-color: #0050ac;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: left;
  margin-top: 20px;
}

.back-button:hover {
  background-color: darkblue;
}

.next-button {
  background-color: #0050ac;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  margin-top: 20px;
}

.next-button:hover {
  background-color: darkblue;
}

.submit-button {
  background-color: #0050ac;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: darkblue;
}
  